* {
  box-sizing: border-box;
}
*::before {
  box-sizing: border-box;
}
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}
picture {
  display: block;
  max-width: 100%;
}
video {
  display: block;
  max-width: 100%;
}
canvas {
  display: block;
  max-width: 100%;
}
svg {
  display: block;
  max-width: 100%;
}

input {
  font: inherit;
  color: inherit;
}
button {
  font: inherit;
  color: inherit;
}
textarea {
  font: inherit;
  color: inherit;
}
select {
  font: inherit;
  color: inherit;
}

button {
  cursor: pointer;
  background: none;
  border: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-weight: inherit;
  line-height: 1.05;
}
h2 {
  font-weight: inherit;
  line-height: 1.05;
}
h3 {
  font-weight: inherit;
  line-height: 1.05;
}
h4 {
  font-weight: inherit;
  line-height: 1.05;
}
h5 {
  font-weight: inherit;
  line-height: 1.05;
}
h6 {
  font-weight: inherit;
  line-height: 1.05;
}

:focus {
  outline: 2px solid currentColor;
  outline-offset: 3px;
}
